header {
  position: relative;
  height: 100px;
  length: 100%;
  background-color: lightgray;
  z-index: 10;
}

#blue-box {
    height: 50px;
    width: 50px;
    top: 25px;
    left: 25px;
    background-color: cornflowerblue;
    position: relative;
}

.text {
  position: relative;
  margin: 50px;
}

.bars {
  height: 200px;
  width: 100%;
  position: relative;
}

#one {
    background-color: cornflowerblue

}

#two {
    background-color: turquoise;
}

#three {
    background-color: lightgreen;
}

#four {
    background-color: yellow;
}